import { Component } from 'react'
import { render } from 'react-dom'

class Formulario extends Component {
  state = { nome: '', email: '' }

  handleChange = (ev) => {
    this.setState({ [ev.target.name]: ev.target.value })
  }

  handleSubmit = (ev) => {
    ev.preventDefault()
    alert(`Oi ${this.state.nome}, seu email é ${this.state.email}`)
  }

  render() {
    return (
      <form onSubmit={this.handleSubmit}>
        <input type="text" name="nome" value={this.state.nome} onChange={this.handleChange} />
        <input type="text" name="email" value={this.state.email} onChange={this.handleChange} />
        <button>Enviar!</button>
      </form>
    )
  }
}

render(<Lista items={[{ id: 1, nome: 'Felipe'}]} />, document.getElementById('root))
