class Perfil extends Component {
  state = { nome: '' }

  componentDidMount() {
    this.timer = setInterval(this.carregaPessoa, 5000)
  }

  componentWillUnmount() {
    if (this.timer) {
      clearInterval(this.timer)
    }
  }

  carregaDados = () => {
    api.carregaPessoa(this.props.id)
      .then((pessoa) => this.setState({ nome: pessoa.nome }))
  }

  render() {
    return this.state.nome ? (
      <h1>{this.state.nome}</h1>
    ) : (
      <strong>Carregando...</strong>
    )
  }
}

render(<Prefil id="1" />, document.getElementById('root))
