import { Component } from 'react'
import { render } from 'react-dom'

class Relogio extends Component {
  state = { data: new Date() }

  componentDidMount() {
    this.timer = setInterval(() => {
      this.setState({ data: new Date() })
    }, 1000)
  }

  componentWillUnmount() {
    clearInterval(this.timer)
  }

  render() {
    return <div>São {this.state.data.toLocaleTimeString()}!</div>
  }
}

render(<Relogio />, document.getElementById('root))
