import { Component } from 'react'
import { render } from 'react-dom'

class Relogio extends Component {
  state = { data: new Date() }

  render() {
    return <div>São {this.state.data.toISOString()}!</div>
  }
}

render(<Relogio />, document.getElementById('root))
