import { Component } from 'react'
import { render } from 'react-dom'

class Formulario extends Component {
  state = { nome: '' }

  handleChange = (ev) => {
    this.setState({ nome: ev.target.value })
  }

  handleSubmit = (ev) => {
    ev.preventDefault()
    alert(this.state.nome)
  }

  render() {
    return (
      <form onSubmit={this.handleSubmit}>
        <input type="text" value={this.state.nome} onChange={this.handleChange} />
        <button>Enviar!</button>
      </form>
    )
  }
}

render(<Lista items={[{ id: 1, nome: 'Felipe'}]} />, document.getElementById('root))
