class Perfil extends Component {
  state = { nome: '' }

  componentDidMount() {
    this.carregaPessoa()
  }

  componentDidUpdate(prevProps, prevState) {
    if (this.props.id !== prevProps.id) {
      this.carregaPessoa()
    }
  }

  carregaPessoa = () => {
    api.carregaPessoa(this.props.id)
      .then((pessoa) => this.setState({ nome: pessoa.nome }))
  }

  render() {
    return this.state.nome ? (
      <h1>{this.state.nome}</h1>
    ) : (
      <strong>Carregando...</strong>
    )
  }
}

render(<Prefil id="1" />, document.getElementById('root))
